{% extends 'base/base.html' %}


{% block content %}
{% if mensaje.0 %}
    <h1>{{mensaje.1}}</h1> 
{% endif %}
<form method="post">
  {% csrf_token %}
  <div class="row">

    <div class="col-md-8 col-md-offset-2">
      <div class="form-group">
        <label for="{{form1.nombre.name}}">{{form1.nombre.label}}</label>
        {{form1.nombre}}
      </div>
    </div>

    <div class="col-md-8 col-md-offset-2">
      <div class="form-group">
        <label for="{{form1.apellidos.name}}">{{form1.apellidos.label}}</label>
        {{form1.apellidos}}
      </div>
    </div>

    <div class="col-md-8 col-md-offset-2">
      <div class="form-group">
        <label for="{{form1.edad.name}}">{{form1.edad.label}}</label>
        {{form1.edad}}
      </div>
    </div>

    <div class="col-md-8 col-md-offset-2">
      <div class="form-group">
        <label for="{{form1.email.name}}">{{form1.email.label}}</label>
        {{form1.email}}
      </div>
    </div>

    <div class="col-md-8 col-md-offset-2">
      <div class="form-group">
        <label for="{{form1.telefono.name}}">{{form1.telefono.label}}</label>
        {{form1.telefono}}
      </div>
    </div>

    <div class="col-md-8 col-md-offset-2">
      <div class="form-group">
        <label for="{{form1.domicilio.name}}">{{form1.domicilio.label}}</label>
        {{form1.domicilio}}
      </div>
    </div>

    <div class="col-md-8 col-md-offset-2">
      <div class="form-group">
        <label for="{{form2.numero_mascotas.name}}">{{form2.numero_mascotas.label}}</label>
        {{form2.numero_mascotas}}
      </div>
    </div>

    <div class="col-md-8 col-md-offset-2">
      <div class="form-group">
        <label for="{{form2.razones.name}}">{{form2.razones.label}}</label>
        {{form2.razones}}
      </div>
    </div>



  </div>


  <button type="submit">Guardar</button>
</form>
{% endblock %}
